@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/swiper-bundle.css';

::-webkit-scrollbar-button {
  display: none !important;
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Completely remove scrollbar buttons (top and bottom arrows) */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

/* Custom styles for elements with the "custom-scrollbar" class */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #fcba41 #f1f1f1; /* Thumb and track colors for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fcba41; /* Custom color for the thumb */
  border-radius: 50%; /* Full rounding for a circular thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 50%; /* Fully rounded track */
}

.login{
  background-image: url('/ArtboardLogin.png');
}

.topNav{
  background-image: url('/Maskgroup.png');
 

}
.vector{
  background-image: url('/Vector 7.png');
  width: 100%;
}
